html {
    overflow:hidden;
}

body {
    margin: 0;
}

#transactions {
    /* This must be 32 * .cell width */
    width: 960px;
    margin: 0 auto;
}

.cell {
    height: 30px;
    width: 30px;
    float : left;
}
